.dateButton{
    border: 1px solid #dcd9d9;
    border-radius: 10px;
    display: flex;
    /* background-color: white; */
    /* width: 200px; */
    /* height: 40px; */
    padding: 10px 20px;
    margin: 10px;
}
.dateButton > i {
    margin: 0 5px;
    color: #535353;
}

@media screen and (max-width:600px) {
    .dateButton{
        width: auto;
        font-size: 12px;
        margin:20px auto;
        padding: 10px 10px;
    }
}