@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy-Regular'), url(../assets/fonts/Gilroy/Gilroy-Light.otf) format('truetype');
}
@font-face {
  font-family: 'Gilroy-Bold';
  src: local('Gilroy-extrabold'), url(../assets/fonts/Gilroy/Gilroy-ExtraBold.otf) format('truetype');
}
html,
body {
  padding: 0;
  color: black;
  margin: 0;
  font-family: "Gilroy";
  background: url("../assets/svg/chess-board.svg") #EBEBEB ;

  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}
h3{
  font-family: "Gilroy-Bold" !important;
  font-weight: 800 !important;
}
.border-b-1 {
  border-bottom-width: 1px;
}
.border-1 {
  border-width: 1px;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  } 
} */

.black-items {
  color: black;
}
.num-tag {
  text-align: right;
  font-size: 12px;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
