.container {
  padding: 0 2rem;
  width: 90%;
  max-width: 860px;
  margin: 100px auto;
  text-align: center;
}
.heading{
  font-family: 'Gilroy-bold';
  margin: 20px auto;
  margin-bottom: 10px;
 font-size: 46px;
 /* font-weight: 600; */
 font-style: normal;
 line-height: 73px;
}
.tagLine{
  font-size: 16px;
}


@media (max-width: 600px) {

  .heading{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 30px;
  }
  .container{
width: 100%;
padding: 0 0;
  }
  .tagLine{
    margin: 0 auto;
    width: 80%;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {

}
