.nav{
    width: 100%;
display: flex;
margin: 0 auto;
padding: 30px 0 15px 0;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid #EBEBEB;
margin-bottom: 20px;

/* background: #e5e5e5; */
}
.head{
    font-size: 18px;
}
._navButton{
    display: none;
}
.balance{
width: auto;
/* width: 100%; */
/* padding-left: 10px;
padding-right: 10px; */
height: 100%;
display: flex;
/* flex-wrap: wrap; */
align-items: center;
justify-content: center;
border-radius: 10px 0 0 10px;
color: white;
background: #438FFE;
}
.account{
    
    width: 220px;
    /* width: auto; */
    height: 40px;
    border-radius: 10px;
    display: flex;
}
.address{
    width: auto;
height: 100%;
display: flex;
padding-left: 10px;
padding-right: 10px;
align-items: center;
justify-content: center;
border-radius: 0 10px 10px 0 ;
color: black;
background: white;
}
@media screen and (max-width: 640px) {

    .nav{
        padding: 10px 15px;
        justify-content: space-between;
    }
    ._navButton{
        display: block;
    }
    .head {
        font-size: 12px;
        line-height: 18px;
    }
    /* .balance{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px 0 0 10px;
        color: white;
        background: #438FFE;
    } */
.account{ 
    /* display: none; */
    /* width: 100px; */
    height: 40px;
    font-size: 10px;
}
   .balance, .address{
padding-left: 10px;
padding-right: 10px;
    }
}
