.button_container{
     margin: 10px auto;
     max-width: 420px;
     width: 80%;
     height: 50px;
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: center;
     padding: 15px;    
     border-radius: 100px;
}
._img{
    margin: 10px;
    /* padding: 10px; */
}
._heading{
    text-align: center;
    margin: 0 auto;
}
@media screen and (max-width: 600px) {
    .button_container{
        width: 90%;
        margin: 5px auto;
        padding: 10px 20px;
        font-size: 10px;
        border-radius: 100px;
    }
    ._img{
        margin: 10px;
    }
    ._heading{
        text-align: center;
    }
}