@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-ExtraBold.otf");
  src: url("../assets/fonts//Gilroy-Light.otf");
  font-weight: 400;
  font-style: normal;
}
html,
body {
  padding: 0;
  color: black;
  margin: 0;
  font-family: "Gilroy", Helvetica Neue, sans-serif;
  background: url("../assets/svg/chess-board.svg") #EBEBEB;

  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}
h3{
  font-family: "Gilroy" !important;
  font-weight: 800 !important;
}
.border-b-1 {
  border-bottom-width: 1px;
}
.border-1 {
  border-width: 1px;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  } */
/* body {
    color: white;
  }
} */

.black-items {
  color: black;
}
.num-tag {
  text-align: right;
  font-size: 12px;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
